extends baseEmail

block content
    p Hi #{firstName},
        p Forgot your password ? Try submitting a patch request with your new password and confirm Password to: #{url}.
        p (Website for the action is not yet implemented!!!)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password
        p If you didn't forgot the password Please ignore!!
